.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc80;
  border-radius: 1rem;
  padding: 1rem;
}

.title {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.form {
  flex: 1;
  padding: 1em;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
